@mixin mainFont {
    font-family: 'Indie Flower';
}



body{
    // background: #fee7a3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #8cbea3;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23dcd5c1' fill-opacity='0.29' fill-rule='evenodd'/%3E%3C/svg%3E");
};

.mainContainer{
    width: 100%;
    max-width: 510px;
    // display: flex;
    // flex-wrap: wrap;
};


.container{
    width: calc(33.33% - 10px);
    // overflow: hidden;
    margin: 5px;
    float: left;
    .box{
        float: left;
        width: 33.33%;
        height: 40px;
        border: 1px solid #313167;
        color: #313167;
        font-size: 30px;
        transition: all .5s;
        text-align: center;
        line-height: 45px;
        // transform: rotate(10deg);
        box-shadow: 1px 0px 0px #313167;
    }
    
    .box:hover{
        background: #cfcb9c;
        color: #8cbea3;
        cursor: pointer;
        transform: rotate(5deg);
    }
};

button{
    margin-top: 50px;
    width: 20%;
    background: #cfcb9c;
    border: none;
    padding: 5px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #313167;
    border: 2px solid #313167;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        box-shadow: 1px 1px 3px black;
    }
}

.win{
    // background: #d3b1a7;
    color: #8cbea3;
}

.fully{
    font-size: 200px;
    text-align: center;
    height: 180px;
}

span{
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
        text-transform: uppercase;
        color: #313167;
    }

#turn{
    margin-bottom: 30px;
    @include mainFont;
}

.title{
    font-size: 40px;
    font-weight: bold;
    @include mainFont;
}

.ultimateTest{
    background: #cb654f;
}

.ultimateTestTwo{
    background: #dfba47;
}

.swal-footer {
    text-align: center;
}

.swal-button-container {
    margin: 5px;
    display: block;
    position: relative;
}

.fa-question-circle{
    margin-top: 20px;
    font-size: 25px;
    color: #313167;
    transition: 0.4s;
    cursor: pointer;
    &:hover{
        font-size: 28px;
    }
}

.gameInfo{
    width: 350px;
    height: 240px;
    margin: 0 auto;
    text-align: center;
    background: honeydew;
    position: absolute;
    top: 230px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 2px solid orange;
    line-height: 25px;
    display: none;
    @include mainFont;
}

.gameInfoShow{
    display: block;
};

.fa-circle{
    position: absolute;
    right: 320px;
    cursor: pointer;
    font-weight: normal;
    color: #8cbea3;
}

.fa-times{
    position: absolute;
    left: 320px;
    cursor: pointer;
    color: #8cbea3;
}





